.question
    .d-flex.align-items-center.pr-4
        .question__number 4
        .question__title Что нужно иметь, чтобы пройти курсы?
    .querstion__body
        hr
        .question__text 
            | Чтобы записаться на курс вам нужно позвонить нам по телефонам:
            br
            .font-weight-bold +7 (900) 800-79-60  +7 (800) 900-80-30
            br 
            | или оставить заявку на нашем сайте 
            | на странице интересуещего вас курса
