button{
    cursor: pointer;
}

.button{
    color: #d34d56;
    font-size: 14px;
    font-weight: 600;
    line-height: 22px;
    text-transform: uppercase;
    border-radius: 19px;
    background-color: #ffffff;
    padding: 9px 27px;
    border: none;
}

.button_backcall{
    color: #a11b4a;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: bold;
    position: relative;
    background-color: transparent;
    border: none;
    display: block;
    margin: 20px 0px 0px 34px;
}

.button_backcall::after{
    position: absolute;
    content: "";
    width: 17px;
    height: 8px;
    top: 50%;
    transform: translateY(-50%);
    right: -25px;
    background: url("img/details.png") no-repeat center / cover;
}

.button_basket{
    padding: 10px 30px;
    color: #fff;
    background: linear-gradient(to right, #7367f0 0%, #ce9ffc 100%);
}

.button_big{
    font-size: 16px;
    padding: 15px 27px;
    border-radius: 25px;
}

.button_purple{
    background-color: #7367f0;
    padding: 10px 42px;
}

.button_search{
    color: #d34d56;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    background-color: #ffffff;
    border: none;
    cursor: pointer;
}

.button_border_red{
    border-radius: 19px;
    border: 1px solid #d34d56;
    color: #d34d56;
    font-size: 14px;
    text-transform: uppercase;
    display: block;
    width: 100%;
}

@media (max-width:767px),(max-device-width:767px) {
    .button_big{
        font-size: 16px;
        padding: 8px 17px;
        border-radius: 25px;
    }
}
