.owl-main{
    padding: 100px 0px 30px 0px;
}

.owl-main__title{
    color: #ffffff;
    font-size: 20px;
    font-weight: 700;
    color: #e1d5e7;
    text-transform: uppercase;
}

.owl-main__name{
    color: #f2c3c4;
    font-family: "Alegreya Sans - Black";
    font-size: 100px;
    text-transform: uppercase;
}

.owl-main__text{
    color: #ffffff;
    line-height: 30px;
    margin-bottom: 43px;
}

.owl-main .owl-dot{
    outline: none !important;
}

.owl-main .owl-dot span{
    background: #8d5b87 !important;
    width:16px !important;
    height: 16px !important;
}
.owl-main .owl-dot.active span{
    background: #773954 !important;
}

.owl-main .owl-prev{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 1%;
    font-size: 70px !important;
    outline: none !important;
}
.owl-main .owl-next{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 1%;
    font-size: 70px !important;
    outline: none !important;
}

@media (max-width:1200px),(max-device-width:1200px) {
    .owl-main__name{
        font-size: 62px;
    }
}

@media (max-width:767px),(max-device-width:767px) {
    .owl-main {
        padding: 10px 0 30px 0;
    }
    .owl-main__text{
        font-size: 13px;
    }

    .owl-main__title{
        font-size: 16px;
    }

    .owl-main__name{
        font-size: 30px;
    }

    .button_big {
        font-size: 16px;
        padding: 8px 17px;
        border-radius: 25px;
    }
}
@media (max-width:430px),(max-device-width:430px) {
    .owl-main__name{
        font-size: 48px;
    }
}
