section.container-fluid.background_purple.owl-carousel.owl-main.owl-theme
            .container
                .row
                    .col-md-6
                        img(src="img/cake-slider.png", class="")
                    .col-md-6
                        h2.owl-main__title Кондитерская студия
                        h1.owl-main__name 5 вкусов
                        .owl-main__text Самые актуальные и востребованные курсы для начинающих. Занятия в школе - практические и проходят в интенсивном режиме.  За короткое времени вы получаете огромный объем информации
                        a(href="#", class="button button_big d-inline-block mb-3 mb-md-0") Узнать больше
                    
            .container
                .row
                    .col-md-6
                        img(src="img/cake-slider.png", class="")
                    .col-md-6
                        h2.owl-main__title Кондитерская студия
                        h1.owl-main__name 5 вкусов
                        .owl-main__text Самые актуальные и востребованные курсы для начинающих. Занятия в школе - практические и проходят в интенсивном режиме.  За короткое времени вы получаете огромный объем информации
                        a(href="#", class="button button_big d-inline-block mb-3 mb-md-0") Узнать больше
                    
            
