.preview{
    display: block;
    width: 262px;
    margin: 0px auto;
    position: relative;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    height: 100%;
    padding-bottom: 35px;
}

.preview hr{
    margin: 0px;
}

.preview > figure{
    /* min-width: 263px; */
    max-width: 263px;
    min-height: 263px;
    max-height: 263px;
    overflow: hidden;
    background-color: #fff;
}

.preview__img{
    transition: 1s;
}

.preview__img_feedbacks{
    width: 203px !important;
    height: 203px !important;
    margin: 0px auto;
    position: relative;
    top: -35px;
}

.preview:hover .preview__img:not(.preview__img_feedbacks){
    opacity: 0.8;
    -webkit-transform: scale3d(1.1,1.1,1);
    transform: scale3d(1.1,1.1,1);
}

.preview:hover .preview__details{
    visibility: visible;
}

.preview__special{
    width: 70px;
    height: 70px;
    position: absolute;
    z-index: 2;
    left: 0px;
    top: 0px;
    transform: translate(-20%,-20%);
}

.preview__transparent{
    height: 40px;
    background: transparent;
}

.preview__special-new{
    background: url("img/new.png") no-repeat center / cover;
}
.preview__special-stock{
    background: url("img/stock.png") no-repeat center / cover;
}
.preview__special-present{
    background: url("img/present.png") no-repeat center / cover;
}

.preview__bottom{
    padding: 0px 20px 14px 20px;
    background-color: #fff;
}

.preview__title{
    color: #333333;
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
    margin: 0px;
    margin-bottom: 15px;
}

.preview__text{
    color: #646464;
    font-size: 14px;
    line-height: 20px;
    margin: 0px;
}

.preview__price{
    margin-top: 20px;
    color: #000;
}

.preview__price > span{
    font-weight: bold;
    padding: 0px 5px;
}

.preview__details{
    visibility: hidden;
    color: #a11b4a;
    font-size: 14px;
    text-transform: uppercase;
    position: absolute;
    bottom: 15px;
    left: 15px;
    font-weight: bold;
}

.preview__details-feedback{
    visibility: visible;
    text-align: center;
    position: static;
    background-color: #fff;
    padding-bottom: 20px;
}

.preview__figure_feedbacks{
    overflow: visible !important;
    min-height: 180px !important;
    margin: 0px;
}

.preview__details-feedback::after{
    display: none;
}

.preview__details::after{
    position: absolute;
    content: "";
    width: 17px;
    height: 8px;
    top: 50%;
    transform: translateY(-50%);
    right: -25px;
    background: url("img/details.png") no-repeat center / cover;
}

.preview__label{
    color: #646464;
    font-size: 14px;
    margin-bottom: 14px;
}
