//- ЭТО КАРТОЧКА ТОВАРА
a.preview(href="#")
    .preview__special.preview__special-stock
    figure
        img(src="img/preview1.png", class="preview__img")
    .preview__bottom
        h3.preview__title Торт на свадьбу
        h4.preview__text Предлагаем широкий выбор начинок и дизайна для торта Вашей мечты
        .preview__price от
            span 3500
            | руб
    span.preview__details Подробнее


//- А ЭТО КАРТОЧКА УЧЕБНОГО КУРСА
.col-xl-3.col-sm-6.form-group
    a.preview(href="#")
        figure
            img(src="img/course1.png", class="preview__img")
        .preview__bottom
            h3.preview__title Курс: «Макаронс»
            .d-flex.justify-content-between
                .preview__label 25.04.18
                .preview__label Иванова Юлия
            hr
        .preview__bottom
            .preview__label Продолжительность: 
                b 3 дня
            .preview__label Время занятий: 
                b с 10:00 до 18:00 
            .preview__label Сложность: 
                b.text-purple Легкий
                
            .preview__price 
                span 3500
                | руб
            span.preview__details Подробнее
