a.preview(href="#")
    .preview__special.preview__special-stock
    figure
        img(src="img/preview1.png", class="preview__img")
    .preview__bottom
        h3.preview__title Торт на свадьбу
        h4.preview__text Предлагаем широкий выбор начинок и дизайна для торта Вашей мечты
        .preview__price от
            span 3500
            | руб
        span.preview__details Подробнее
