//- ЭТО КАРТОЧКА ТОВАРА
a.preview(href="#")
    .preview__special.preview__special-stock
    figure
        img(src="img/preview1.png", class="preview__img")
    .preview__bottom
        h3.preview__title Торт на свадьбу
        h4.preview__text Предлагаем широкий выбор начинок и дизайна для торта Вашей мечты
        .preview__price от
            span 3500
            | руб
    span.preview__details Подробнее


//- А ЭТО КАРТОЧКА УЧЕБНОГО КУРСА
.col-xl-3.col-sm-6.form-group
    a.preview(href="#")
        figure
            img(src="img/course1.png", class="preview__img")
        .preview__bottom
            h3.preview__title Курс: «Макаронс»
            .d-flex.justify-content-between
                .preview__label 25.04.18
                .preview__label Иванова Юлия
            hr
        .preview__bottom
            .preview__label Продолжительность: 
                b 3 дня
            .preview__label Время занятий: 
                b с 10:00 до 18:00 
            .preview__label Сложность: 
                b.text-purple Легкий
                
            .preview__price 
                span 3500
                | руб
            span.preview__details Подробнее
            
//- А ЭТО КАРТОЧКА ОТЗЫВА ОБ УЧЕБНОМ КУРСЕ
.preview
    .preview__transparent
    figure.preview__figure_feedbacks
        img(src="img/feedback-user.png", alt="Отзыв", class="preview__img preview__img_feedbacks")
    .preview__bottom
        h3.preview__title.text-center.text-purple.mb-0 Курс: Капкейки
        .preview__label.text-center.mb-0 Продолжительность: 
            b 3 дня
        .preview__label.text-center.mb-0 Сложность: 
            b.text-purple Легкий
            
    .preview__bottom
        .preview__text 
            | Купила этот видео урок. Ну что сказать - 
            | огромное спасибо! Каждый шаг расписан 
            | идеально понятно и без личних слов. 
            | Прописаны нюансы без которых точно бы ни чего не получилось. Я в восторге от такого 
            | подхода к продаваемому продукту.
    .preview__details.preview__details-feedback Петрова Ирина @kapelka
