.container__title{
    text-align: center;
    color: #231f20;
    font-size: 27px;
    text-transform: uppercase;
    margin: 28px 0px;
}

.container__text{
    color: #646464;
    line-height: 28px;
}

.container_feedbacks{
    background: url("img/feedbacks.jpg") no-repeat center / cover;
}
