.link{
    text-decoration: none;
}

.link_header{
    color: #ffffff;
    font-family: "Open Sans";
}

.link_header-text-small{
    font-size: 14px;
}

.link_footer{
    color: #646464;
    font-weight: bold;
    font-size: 14px;
}

.link_footer:hover{
    color: #a11b4a;
}

.link_details{
    color: #a11b4a;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: bold;
    position: relative;
}

.link_details::after{
    position: absolute;
    content: "";
    width: 17px;
    height: 8px;
    top: 50%;
    transform: translateY(-50%);
    right: 0px;
    background: url("img/details.png") no-repeat center / cover;
}

.link_details_arrow_right25::after{
    right: -25px;
}

@media (max-width:500px),(max-device-width:500px) {
    .link_header{
        font-size: 14px;
    }
}
