doctype html
html(lang="ru")
    include ../blocks/head/head.jade
    body
        include ../blocks/header/header.jade
        
        main
            include ../blocks/owl-main/owl-main.jade
                                    
            section.container
                h2.container__title Наши курсы для начинающих
                .row
                    .col-xl-3.col-sm-6.form-group
                        a.preview(href="#")
                            figure
                                img(src="img/course1.png", class="preview__img")
                            .preview__bottom
                                h3.preview__title Курс: «Макаронс»
                                .d-flex.justify-content-between
                                    .preview__label 25.04.18
                                    .preview__label Иванова Юлия
                                hr
                            .preview__bottom
                                .preview__label Продолжительность: 
                                    b 3 дня
                                .preview__label Время занятий: 
                                    b с 10:00 до 18:00 
                                .preview__label Сложность: 
                                    b.text-purple Легкий
                                    
                                .preview__price 
                                    span 1500
                                    | руб
                            span.preview__details Подробнее
                                
                                
                    .col-xl-3.col-sm-6.form-group
                        a.preview(href="#")
                            figure
                                img(src="img/course2.png", class="preview__img")
                            .preview__bottom
                                h3.preview__title Курс: «Пасха»
                                .d-flex.justify-content-between
                                    .preview__label 25.04.18
                                    .preview__label Иванова Юлия
                                hr
                            .preview__bottom
                                .preview__label Продолжительность: 
                                    b 3 дня
                                .preview__label Время занятий: 
                                    b с 10:00 до 18:00 
                                .preview__label Сложность: 
                                    b.text-purple Средний
                                    
                                .preview__price 
                                    span 4000
                                    | руб
                                span.preview__details Подробнее
                                
                                
                    .col-xl-3.col-sm-6.form-group
                        a.preview(href="#")
                            figure
                                img(src="img/course3.png", class="preview__img")
                            .preview__bottom
                                h3.preview__title Курс: «Cake-pops»
                                .d-flex.justify-content-between
                                    .preview__label 25.04.18
                                    .preview__label Иванова Юлия
                                hr
                            .preview__bottom
                                .preview__label Продолжительность: 
                                    b 3 дня
                                .preview__label Время занятий: 
                                    b с 10:00 до 18:00 
                                .preview__label Сложность: 
                                    b.text-purple Легкий
                                    
                                .preview__price 
                                    span 1200
                                    | руб
                                span.preview__details Подробнее
                                
                                
                    .col-xl-3.col-sm-6.form-group
                        a.preview(href="#")
                            figure
                                img(src="img/course4.png", class="preview__img")
                            .preview__bottom
                                h3.preview__title Курс: «Cake-pops»
                                .d-flex.justify-content-between
                                    .preview__label 25.04.18
                                    .preview__label Иванова Юлия
                                hr
                            .preview__bottom
                                .preview__label Продолжительность: 
                                    b 3 дня
                                .preview__label Время занятий: 
                                    b с 10:00 до 18:00 
                                .preview__label Сложность: 
                                    b.text-purple Сложный
                                    
                                .preview__price 
                                    span 6500
                                    | руб
                                span.preview__details Подробнее
                                
                .d-flex.justify-content-center.mt-4
                    a(href="#", class="button button_purple text-white") Посмотреть все курсы
                    
            section.container
                h2.container__title Рекомендованные товары
                .row
                    .col-xl-3.col-sm-6.form-group
                        a.preview(href="#")
                            .preview__special.preview__special-stock
                            figure
                                img(src="img/preview1.png", class="preview__img")
                            .preview__bottom
                                h3.preview__title Торт на свадьбу
                                h4.preview__text Предлагаем широкий выбор начинок и дизайна для торта Вашей мечты
                                .preview__price от
                                    span 3500
                                    | руб
                                span.preview__details Подробнее
                    .col-xl-3.col-sm-6.form-group
                        a.preview(href="#")
                            .preview__special.preview__special-new
                            figure
                                img(src="img/preview2.png", class="preview__img")
                            .preview__bottom
                                h3.preview__title Конфеты из инжира
                                h4.preview__text Предлагаем широкий выбор начинок и дизайна для торта Вашей мечты
                                .preview__price от
                                    span 180
                                    | руб
                                span.preview__details Подробнее
                    .col-xl-3.col-sm-6.form-group
                        a.preview(href="#")
                            .preview__special.preview__special-present
                            figure
                                img(src="img/preview3.png", class="preview__img")
                            .preview__bottom
                                h3.preview__title Капкейк с грецким орехом
                                h4.preview__text Предлагаем широкий выбор начинок и дизайна для торта Вашей мечты
                                .preview__price от
                                    span 350
                                    | руб
                                span.preview__details Подробнее
                    .col-xl-3.col-sm-6.form-group
                        a.preview(href="#")
                            figure
                                img(src="img/preview4.png", class="preview__img")
                            .preview__bottom
                                h3.preview__title Зефир малинка
                                h4.preview__text Предлагаем широкий выбор начинок и дизайна для торта Вашей мечты
                                .preview__price от
                                    span 110
                                    | руб
                                span.preview__details Подробнее
                                                    
                                
                
                                    
            include ../blocks/feedback/feedback.jade                                    
            
        
        include ../blocks/footer/footer.jade
