doctype html
html(lang="ru")
    include ../blocks/head/head.jade
    body
        include ../blocks/header/header.jade
        
        main.text-center.text-md-left
            .container
                ul.breadcrumbs.text-left
                    li
                        a.breadcrumbs__item(href="#") Главная 
                    li
                        a.breadcrumbs__item(href="#") Кондитерские изделия
            
            section.container
                h2.container__title Кондитерские изделия
                
                .row
                    a.col-md-6.col-xl-4.col-6(href="#")
                        img(src="img/conditer1.png", class="img-fluid mx-auto d-block preview__conditer-img" alt="Кондитерское изделие")
                        h5.text-center.text-gray.text-uppercase.my-4 Торты в наличии
                    a.col-md-6.col-xl-4.col-6(href="#")
                        img(src="img/conditer2.png", class="img-fluid mx-auto d-block preview__conditer-img" alt="Кондитерское изделие")
                        h5.text-center.text-gray.text-uppercase.my-4 Детские торты
                    a.col-md-6.col-xl-4.col-6(href="#")
                        img(src="img/conditer3.png", class="img-fluid mx-auto d-block preview__conditer-img" alt="Кондитерское изделие")
                        h5.text-center.text-gray.text-uppercase.my-4 Свадебные торты
                    a.col-md-6.col-xl-4.col-6(href="#")
                        img(src="img/conditer4.png", class="img-fluid mx-auto d-block preview__conditer-img" alt="Кондитерское изделие")
                        h5.text-center.text-gray.text-uppercase.my-4 Торты для мужчин
                    a.col-md-6.col-xl-4.col-6(href="#")
                        img(src="img/conditer5.png", class="img-fluid mx-auto d-block preview__conditer-img" alt="Кондитерское изделие")
                        h5.text-center.text-gray.text-uppercase.my-4 Торты для женщин
                    a.col-md-6.col-xl-4.col-6(href="#")
                        img(src="img/conditer6.png", class="img-fluid mx-auto d-block preview__conditer-img" alt="Кондитерское изделие")
                        h5.text-center.text-gray.text-uppercase.my-4 Торты на юбилей
                    a.col-md-6.col-xl-4.col-6(href="#")
                        img(src="img/conditer7.png", class="img-fluid mx-auto d-block preview__conditer-img" alt="Кондитерское изделие")
                        h5.text-center.text-gray.text-uppercase.my-4 Торты корпоративные
                    a.col-md-6.col-xl-4.col-6(href="#")
                        img(src="img/conditer8.png", class="img-fluid mx-auto d-block preview__conditer-img" alt="Кондитерское изделие")
                        h5.text-center.text-gray.text-uppercase.my-4 Макаронсы
                    a.col-md-6.col-xl-4.col-6(href="#")
                        img(src="img/conditer9.png", class="img-fluid mx-auto d-block preview__conditer-img" alt="Кондитерское изделие")
                        h5.text-center.text-gray.text-uppercase.my-4 Пирожные
                    a.col-md-6.col-xl-4.col-6(href="#")
                        img(src="img/conditer10.png", class="img-fluid mx-auto d-block preview__conditer-img" alt="Кондитерское изделие")
                        h5.text-center.text-gray.text-uppercase.my-4 Кексы
                    a.col-md-6.col-xl-4.col-6(href="#")
                        img(src="img/conditer11.png", class="img-fluid mx-auto d-block preview__conditer-img" alt="Кондитерское изделие")
                        h5.text-center.text-gray.text-uppercase.my-4 Конфеты
                    a.col-md-6.col-xl-4.col-6(href="#")
                        img(src="img/conditer12.png", class="img-fluid mx-auto d-block preview__conditer-img" alt="Кондитерское изделие")
                        h5.text-center.text-gray.text-uppercase.my-4 Зефир
                        
                        
            section.container
                hr.mb-4
                
                .row
                    .col-lg-1
                    .col-lg-5.mb-4
                        h5.text-gray.text-uppercase.mb-4 Сладкий стол
                        .container__text.mb-4 Без сладкого (десертного) стола не обходится ни одно мероприятие, праздник или банкет. ... Декор стола, яркие сладости, единая стилистика превращают Кэнди бар в декоративный элемент оформления праздничного помещения, поэтому он будет уместен на презентациях, мастер-классах или корпоративных мероприятиях.
                        a.link_details.link_details_arrow_right25(href="#") Заказать сладкий стол
                    .col-lg-5
                        img(src="img/sweet-table.png", width="280px" alt="Сладкий стол", class="mx-auto d-block")
                    .col-lg-1
                hr.mt-4
                        
            section.container
                h2.container__title Мы в Instagram
                .row
                    a.col-md-6.col-xl-4(href="#")
                        img(src="img/insta1.png", width="280px" class="mx-auto d-block" alt="Мы в instagram")

                        .d-flex.justify-content-center.px-4.my-4
                            .text-gray.d-flex.align-items-center.mx-4
                                h5.text-gray.my-0 10 213
                                .favourite-icon.favourite-icon_big.ml-2
                                    
                            .text-gray.d-flex.align-items-center.mx-4
                                h5.text-gray.my-0 25
                                .conversation-icon.ml-2
                                    
                    a.col-md-6.col-xl-4(href="#")
                        img(src="img/insta2.png", width="280px" class="mx-auto d-block" alt="Мы в instagram")

                        .d-flex.justify-content-center.px-4.my-4
                            .text-gray.d-flex.align-items-center.mx-4
                                h5.text-gray.my-0 10 213
                                .favourite-icon.favourite-icon_big.ml-2
                                    
                            .text-gray.d-flex.align-items-center.mx-4
                                h5.text-gray.my-0 25
                                .conversation-icon.ml-2
                                    
                    a.col-md-6.col-xl-4(href="#")
                        img(src="img/insta3.png", width="280px" class="mx-auto d-block" alt="Мы в instagram")

                        .d-flex.justify-content-center.px-4.my-4
                            .text-gray.d-flex.align-items-center.mx-4
                                h5.text-gray.my-0 10 213
                                .favourite-icon.favourite-icon_big.ml-2
                                    
                            .text-gray.d-flex.align-items-center.mx-4
                                h5.text-gray.my-0 25
                                .conversation-icon.ml-2
                                        
                        

        
                                    
            include ../blocks/feedback/feedback.jade
                                            
            
        
        include ../blocks/footer/footer.jade
