*{
    box-sizing: border-box;
    font-family: "Open Sans";
}

body{
    margin: 0px;
    padding: 0px;
}

a{
    text-decoration: none !important;
}

a:hover{
    color: #7367f0;
}

[type='submit']{
    cursor: pointer;
}

.no-padding{
    padding: 0px !important
}

.text-purple{
    color: #9b59b6 !important;
}

.text-white{
    color: #fff;
}

.text-gray{
    color: #333;
}


.phone-icon, .time-icon, .insta-icon, .twitter-icon,  .like-icon, .cabinet-icon, .basket-icon, .search-icon{
    position: relative;
    padding-left: 20px;
    cursor: pointer;
}

.close-icon{
    width: 26px;
    height: 26px;
    display: block;
    background: #fff url("img/close.svg") no-repeat center / 20px;
}

.favourite-icon{
    width: 14px;
    height: 14px;
    background: url("img/favourite.png") no-repeat center / cover;
    cursor: pointer;
}

.favourite-icon_big{
    width: 17px;
    height: 17px;
}

.conversation-icon{
    width: 15px;
    height: 15px;
    background: url("img/conversation.png") no-repeat center / cover;
    cursor: pointer;
}

.phone-icon::before{
    width: 16px;
    height: 16px;
    position: absolute;
    content: "";
    left: 0px;
    top: 4px;
    background: url("img/phone-icon.png");
}
.time-icon::before{
    width: 16px;
    height: 16px;
    position: absolute;
    content: "";
    left: 0px;
    top: 4px;
    background: url("img/time-icon.png")
}
.insta-icon::before{
    width: 16px;
    height: 16px;
    position: absolute;
    content: "";
    left: 0px;
    top: 4px;
    background: url("img/insta-icon.png") no-repeat center / contain;
}

.insta-icon2{
    width: 13px;
    height: 13px;
    background: url("img/insta-icon2.png") no-repeat center / contain;
}

.insta-icon_footer{
    position: relative;
}

.insta-icon_footer::before{
    content: "";
    left: -20px;
    top: 3px;
    width: 16px;
    height: 16px;
    position: absolute;
    background: url("img/insta-icon2.png") no-repeat center / contain;
}

.offer-icon{
    position: relative;
}

.offer-icon::after{
    width: 14px;
    height: 13px;
    position: absolute;
    content: "";
    right: -25px;
    top: 4px;
    background: url("img/offer.png") no-repeat center / contain;
}

.twitter-icon{
    width: 16px;
    height: 16px;
    background: url("img/twitter-icon.png") no-repeat center / contain;

}

.twitter-icon2{
    width: 16px;
    height: 16px;
    background: url("img/twitter-icon2.png") no-repeat center / contain;
    cursor: pointer;
}

.vk-icon{
    width: 20px;
    height: 13px;
    background: url("img/vk.png") no-repeat center / contain;
    cursor: pointer;
}
.fb-icon{
    width: 8px;
    height: 14px;
    background: url("img/fb.png") no-repeat center / contain;
    cursor: pointer;
}

.like-icon{
    width: 16px;
    height: 16px;
    background: url("img/like-icon.png") no-repeat center / contain;
}
.cabinet-icon{
    width: 16px;
    height: 16px;
    background: url("img/cabinet-icon.png") no-repeat center / contain;
}
.basket-icon{
    width: 16px;
    height: 16px;
    background: url("img/basket-icon.png") no-repeat center / contain;
}
.search-icon{
    width: 16px;
    height: 16px;
    background: url("img/search-icon.png") no-repeat center / contain;
}

.background-gray{
    background-color: #f1f1f1;
}

.background_purple{
    background: linear-gradient(90deg, #9b78ba 45%, #9a6786  55%);
}

.background_purple2{
    background: linear-gradient(to right, #7367f0 0%, #ce9ffc 100%);
}
