*{
    box-sizing: border-box;
    font-family: "Open Sans";
}

body{
    margin: 0px;
    padding: 0px;
}

a{
    text-decoration: none !important;
}

a:hover{
    color: #7367f0;
}

[type='submit']{
    cursor: pointer;
}

.no-padding{
    padding: 0px !important
}

.phone-icon, .time-icon, .insta-icon, .twitter-icon,  .like-icon, .cabinet-icon, .basket-icon, .search-icon{
    position: relative;
    padding-left: 20px;
}

.phone-icon::before{
    width: 16px;
    height: 16px;
    position: absolute;
    content: "";
    left: 0px;
    top: 4px;
    background: url("img/phone-icon.png");
}
.time-icon::before{
    width: 16px;
    height: 16px;
    position: absolute;
    content: "";
    left: 0px;
    top: 4px;
    background: url("img/time-icon.png")
}
.insta-icon::before{
    width: 16px;
    height: 16px;
    position: absolute;
    content: "";
    left: 0px;
    top: 4px;
    background: url("img/insta-icon.png") no-repeat center / contain;
}

.insta-icon_footer::before{
    background: url("img/insta-icon_footer.png") no-repeat center / contain;
}

.offer-icon{
    position: relative;
}

.offer-icon::after{
    width: 14px;
    height: 13px;
    position: absolute;
    content: "";
    right: -25px;
    top: 4px;
    background: url("img/offer.png") no-repeat center / contain;
}

.twitter-icon{
    width: 16px;
    height: 16px;
    background: url("img/twitter-icon.png") no-repeat center / contain;
}

.twitter-icon_footer{
    background: url("img/twitter-icon_footer.png") no-repeat center / contain;
}

.like-icon{
    width: 16px;
    height: 16px;
    background: url("img/like-icon.png") no-repeat center / contain;
}
.cabinet-icon{
    width: 16px;
    height: 16px;
    background: url("img/cabinet-icon.png") no-repeat center / contain;
}
.basket-icon{
    width: 16px;
    height: 16px;
    background: url("img/basket-icon.png") no-repeat center / contain;
}
.search-icon{
    width: 16px;
    height: 16px;
    background: url("img/search-icon.png") no-repeat center / contain;
}

.background-gray{
    background-color: #f1f1f1;
}

.background_purple{
    background: linear-gradient(90deg, #9b78ba 45%, #9a6786  55%);
}
