.backcall
    .backcall-icon
    .backcall-text Заказать обратный звонок
    form.backcall__form
        .backcall__close
        .backcall__title Форма заявки
        input.backcall__input.mb-2(type="text", required, placeholder="Ваше имя")
        input.backcall__input(type="tel", required, placeholder="Номер телефона")
        button.button_backcall Отправить
