noscript
    p Please enable Javascript
    
header.header
    form.header__search
        .row
            input(type='search', name='search', class="header__search-input")
            button(class="button_search") Искать
            span.close-icon
            
    .container-fluid.background_purple.header__top
        .container
            .row
                .col-xl-2.col-lg-0
                .col-xl-4.col-md-6.d-flex.flex-wrap.justify-content-around.justify-content-xl-between.align-items-center
                    a(href="tel:+78009007060", class="link link_header phone-icon") + 7 (800) 900-70-60
                    span(class="link link_header time-icon") Пн-Вс 9:00 - 21:00
                
                .col-lg-4.col-md-6.d-flex.flex-wrap.justify-content-around.align-items-center.header__col_verticalLines
                    a(href="#", class="link link_header insta-icon link_header-text-small") @_Обучение
                    a(href="#", class="link link_header insta-icon link_header-text-small") @_Изделия
                    a(href="#", class="twitter-icon")
                        
                .col-lg-2.col-md-12.d-none.d-md-flex.flex-wrap.justify-content-around.justify-content-xl-between.align-items-center
                    a(href="#", class="like-icon")
                    a(href="#", class="cabinet-icon")
                    a(href="#", class="basket-icon")
                    span.search-icon

    .container-fluid.background-gray.container_mobile
        .container.container_nav-wrapper
            nav.d-flex.flex-wrap.justify-content-around.navbar.navbar-expand-md
                a(href="#", class="header__logo")
                    img(src="img/header-logo.png", class="header__nav-img", alt="5 вкусов")
                .d-flex.d-md-none.justify-content-around(style="min-width:140px;")
                    a(href="#", class="like-icon")
                    a(href="#", class="cabinet-icon")
                    a(href="#", class="basket-icon")
                    span.search-icon
                button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarNav', aria-controls='navbarNav', aria-expanded='false', aria-label='Toggle navigation')
                    i.fa.fa-bars
                #navbarNav.collapse.navbar-collapse
                
                    ul.navbar-nav.d-flex.flex-wrap.justify-content-between
                        li
                            a(href="#", class="header__nav-item") о нас
                        li
                            a(href="#", class="header__nav-item header__nav-item_active dropdown") кондитерские изделия
                            ul.header__submenu
                                li
                                    a(href="#", class="header__submenu-item") Торты в наличии
                                li
                                    a(href="#", class="header__submenu-item") Детские торты
                                li
                                    a(href="#", class="header__submenu-item") Свадебные торты
                                li
                                    a(href="#", class="header__submenu-item") Торты для мужчин
                                li
                                    a(href="#", class="header__submenu-item") Торты для женщин
                                li
                                    a(href="#", class="header__submenu-item") Торты на юбилей
                                li
                                    a(href="#", class="header__submenu-item") Торты корпоративные
                                li
                                    a(href="#", class="header__submenu-item") Макаронсы
                                li
                                    a(href="#", class="header__submenu-item") Пирожные
                                li
                                    a(href="#", class="header__submenu-item") Кексы
                                li
                                    a(href="#", class="header__submenu-item") Конфеты
                                li
                                    a(href="#", class="header__submenu-item") Зефир
                                li
                                    a(href="#", class="header__submenu-item") Сладкий стол
                                    
                        li
                            a(href="#", class="header__nav-item") начинки для тортов
                        li
                            a(href="#", class="header__nav-item") как заказать
                        li
                            a(href="#", class="header__nav-item") обучение
                        li
                            a(href="#", class="header__nav-item") разное
                        li
                            a(href="#", class="header__nav-item") доставка
                        li
                            a(href="#", class="header__nav-item") контакты
.gray-wrapper                            
                
            
                    
        
