noscript
    p Please enable Javascript
    
header.header
    .container-fluid.background_purple.header__top
        .container
            .row
                .col-md-2
                .col-md-4.d-flex.flex-wrap.justify-content-around.justify-content-md-between.align-items-center
                    a(href="tel:+78009007060", class="link link_header phone-icon") + 7 (800) 900-70-60
                    span(class="link link_header time-icon") Пн-Вс 9:00 - 21:00
                
                .col-md-4.d-flex.flex-wrap.justify-content-around.justify-content-md-between.align-items-center
                    a(href="#", class="link link_header insta-icon") @_Обучение
                    a(href="#", class="link link_header insta-icon") @_Изделия
                    a(href="#", class="twitter-icon")
                        
                .col-md-2.d-flex.flex-wrap.justify-content-around.justify-content-md-between.align-items-center
                    a(href="#", class="like-icon")
                    a(href="#", class="cabinet-icon")
                    a(href="#", class="basket-icon")
                    a(href="#", class="search-icon")
    
    .container-fluid.background-gray
        .container
            nav.d-flex.flex-wrap.justify-content-around.navbar.navbar-expand-lg
                button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarNav', aria-controls='navbarNav', aria-expanded='false', aria-label='Toggle navigation')
                    i.fa.fa-bars
                        
                #navbarNav.collapse.navbar-collapse
                    ul.navbar-nav.d-flex.flex-wrap.justify-content-between
                        li
                            a(href="#", class="header__nav-item") о нас
                        li
                            a(href="#", class="header__nav-item") кондитерские изделия
                        li
                            a(href="#", class="header__nav-item") начинки для тортов
                        li
                            a(href="#", class="header__nav-item") как заказать
                        li
                            a(href="#", class="header__nav-item") обучение
                        li
                            a(href="#", class="header__nav-item") разное
                        li
                            a(href="#", class="header__nav-item") доставка
                        li
                            a(href="#", class="header__nav-item") контакты
                            
                img(src="img/header-logo.png", class="header__nav-img")
            
                    
        
