.product__title{
    color: #333333;
    font-family: "Open Sans";
    font-weight: 700;
    font-size: 24px;
    text-transform: uppercase;
    margin: 0px;
    margin-bottom: 21px;
}

.product__status{
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    position: relative;
    padding-left: 20px;
}

.product__status-avaible{
    color: #7367f0;
}

.product__status::before{
    position: absolute;
    content: "";
    width: 8px;
    height: 8px;
    border-radius: 100%;
    left: 0%;
    top: 50%;
    transform: translateY(-50%);
}

.product__status-avaible::before{
    background-color: #7367f0;
}

.product__status-notavaible{
    color: tomato;
}

.product__status-notavaible{
    background-color: tomato;
}

.product__price{
    color: #646464;
    margin-bottom: 26px;
}

.product__price-value, .product__price-weight{
    color: #646464;
    font-size: 20px;
    font-weight: 700;
}

.product__price-value{
    padding-right: 4px;
}

.product__price-weight{
    padding-left: 4px;
    padding-right: 4px;
}

.product__weight-value{
    padding-right: 4px;
}

.product__weight, .product__filling, .product__date{
    width: 100%;
    margin: 0px auto 18px auto;
    display: block;
    position: relative;
    padding: 9px 10px;
    border-radius: 19px;
    border: 1px solid rgba(100, 100, 100, 0.5);
    color: #333333;
    user-select: none;
}

.product__date::-webkit-inner-spin-button
 {
    display: none;
    -webkit-appearance: none;
}

.product__date::-webkit-calendar-picker-indicator{
    color: rgba(0, 0, 0, 0);
    opacity: 0;
}

.product__date{
    background: url("img/calendar-icon.png") no-repeat 97% center / 16px;
}


.product__weight-minus, .product__weight-plus{
    cursor: pointer;
}

.product__weight-controls{
    width: 40px;
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    font-size: 17px;
    position: absolute;
    right: 5%;
    top: 50%;
    transform: translateY(-50%);
}

.product__count{
    display: flex;
    justify-content: space-between;
    min-width: 130px;
    max-width: 130px;
    align-items: center;
}

.product__count_minus, .product__count_plus{
    width: 24px;
    height: 24px;
    text-align: center;
    color: #646464;
    font-size: 14px;
    border: 1px solid #707070;
    border-radius: 100%;
    cursor: pointer;
    user-select: none;
}

.product__count-value{
    color: #333333;
    font-size: 14px;
}

.product .favourite-icon{
    margin-left: 28px;
}

.product .vk-icon, .product .fb-icon, .product .insta-icon2, .product .twitter-icon2{
    margin-left: 20px;
}

/* custom arrow for select */
.product__filling::-ms-expand {	display: none; }
.product__filling{
    -webkit-appearance: none;
    appearance: none;
}

.product__filling + span{
    cursor: pointer;
    background: #fff url("img/select-arrow.png") no-repeat 95% center / 11px 6px;
    width: 100% !important;
    margin: 0 auto 18px auto;
    display: block;
    position: relative;
    padding: 9px 10px;
    border-radius: 19px;
    border: 1px solid rgba(100,100,100,.5);
    color: #333;
    user-select: none;
}

.product__filling + span:hover{
    background: #fff !important;
}



@media (max-width:1200px),(max-device-width:1200px) {
    .product__count{
        margin-bottom: 1rem;
    }
}
