.product

    h2.product__title Торт Фиолетовый красивый

    .product__status.product__status-avaible в наличии

    .product__price 
        span.product__price-value 1500
        | рублей за
        span.product__price-weight 1
        | КГ

    .product__weight
        | от 
        span.product__weight-value 5
        | кг

        .product__weight-controls
            span.product__weight-minus -
            span.product__weight-plus +
    
    select.product__filling
        option(selected, disabled, hidden) Выбрать начинку
        option Начинка вкусная очень-очень, высокий риск откусить себе пальцы и не только
        option Начинка не очень вкусная
        option Начинка совсем не вкусная
        
    input(type='date', class="product__date")
    
    .d-flex.align-items-center.justify-content-xl-between.justify-content-around.flex-wrap.mb-3
        .product__count
            .product__count_minus -
            span.product__count-value 5 
            span  шт
            .product__count_plus +
        button(class="button button_basket col-xl-6") Добавить в корзину
    
    button(class="button button_border_red") Купить в 1 клик
    hr
    .d-flex.align-items-center
        .product__label Добавить в избранное 
        .favourite-icon
    .d-flex.align-items-center
        .product__label Поделиться с друзьями
        a.vk-icon(href="#")
        a.fb-icon(href="#")
        a.insta-icon2(href="#")
        a.twitter-icon2(href="#")
    
